.main {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 128px;
}

h2 {
    font-size: 33px !important;
    font-weight: 700 !important;
    margin: 44px 0 20px 0 !important;
}

input[type=checkbox],
input[type=radio] {
    width: 20px !important;
    height: 20px !important;
    overflow: hidden;
    margin-right: 12px !important;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #808080;
    border-radius: 3px;
    float: left;
    outline: none !important;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
    appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/gou_03.png);
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: 96%;
    background-color: #00669B;
    border-radius: 4px;
    border: 0;
    outline: none;
    overflow: hidden;
}

input[type=radio],
input[type=radio]:checked {
    border-radius: 50%;
}

.checkbox_wrapper label span,
.sex label span {
    float: left;
    display: block;
    max-width: calc(100% - 35px);
    margin-top: 4px;
    font-size: 14px;
}

.sex {
    margin-top: 4px;
}

.select-list {
    position: relative;
}

.select-list select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-list>span {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.form-control {
    height: 45px !important;
}

.form-group label {
    margin-top: 4px !important;
}

.form-group>div {
    padding-left: 0 !important;
}

.personal-wrap h4 {
    font-size: 14px;
    color: #176490;
    font-weight: 700;
    margin-top: 0 !important;
}

form {
    margin-top: 30px;
}

.home-situation {
    padding-left: 60px;
}

.title {
    font-size: 14px;
    color: #176490;
    font-weight: 700;
    margin-bottom: 25px;
}

.wrapper {
    margin-bottom: 30px;
}

.wrapper h4 {
    font-size: 16px;
    color: #646262;
}

.btn-submit {
    width: 100px;
    font-size: 16px !important;
    margin-bottom: 50px !important;
    margin-top: 24px;
}

.privacy {
    display: inline-block;
    width: 30%;
    /* padding-left: 15px; */
}


/* integralDiscount.html */

.navigation {
    border-bottom: 1px solid #508AAB;
}

.navigation li a {
    color: #595757 !important;
    background-color: #fff;
    padding: 0 15px 5px !important;
}

li.border-bottom {
    border-bottom: 2px solid #176490;
    background-color: #fff;
}

li.border-bottom a {
    color: #176490 !important;
    font-weight: 700 !important;
}

.coupon-money>span {
    display: block;
    text-align: center;
}

.coupon-describe>p:first-child>span {
    display: block;
    float: left;
}

.integral-list li {
    border-bottom: 1px solid #ddd;
}

.integral-list li>span {
    display: blok;
    float: left;
}

.integral-list li>time {
    float: right;
}

.coupon-list {
    padding: 0 50px 50px 0;
    border-bottom: 1px solid #DCDCDC;
}

.coupon-list:last-of-type {
    border-bottom: 0;
}

.coupon-list .coupon-item:nth-child(odd),
.service-item:nth-child(odd) {
    float: left;
}

.coupon-list .coupon-item:nth-child(even),
.service-item:nth-child(even) {
    float: right;
}

.coupon-item,
.service-item {
    width: 380px;
    margin-top: 25px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #EBEBEB;
    border-radius: 4px;
}

.coupon-money {
    font-size: 30px;
    color: #7F7F7F;
    margin-right: 30px;
}

.coupon-describe {
    width: calc(100% - 120px);
    float: left;
}

.coupon-describe>p,
.coupon-describe>p>span {
    color: #7F7F7F;
}

.coupon-describe>p:first-child>span:first-child {
    font-size: 16px;
    font-weight: 700;
}

.coupon-describe>p:first-child>span:first-child i {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 104px;
}

.coupon-describe>p:nth-child(2) {
    font-size: 12px !important;
    margin: 4px 0 20px !important;
}

.user-coupon,
.check-coupon {
    width: 90px;
    margin-top: 15px;
}

.time-over h4 {
    font-size: 14px;
    color: #595757;
    margin: 25px 0 0 !important;
}

.day-time {
    float: right !important;
}

.use-coupon>button {
    float: left;
}

.use-coupon>span {
    display: block;
    float: right;
    margin-top: 25px;
    color: #7F7F7F;
}

.integral-list li {
    margin-top: 35px;
    padding: 10px 0;
}

.integral-list li>span:first-child {
    font-size: 16px;
    color: #00669B;
    font-weight: 700;
    margin-right: 70px;
}

.integral-list li>span:nth-child(2) {
    font-size: 14px;
    color: #00669B;
}

.integral-list li time {
    font-size: 14px;
    color: #808080;
}

.btn-group {
    margin: 50px 0;
}

.btn-group button {
    width: 130px;
    margin-right: 35px;
    font-size: 16px;
}

#incrementService {
    padding: 0 50px 50px 0;
}

.service-item p {
    color: #7F7F7F;
}

.service-item p>span:first-child {
    font-size: 25px;
}

.service-item div {
    margin-top: 20px;
}


/* myProduct.html */

.product-title {
    font-size: 33px !important;
    font-weight: 700 !important;
    margin: 44px 0 20px 0 !important;
}

.product-item>div {
    float: left;
}

.product-item {
    width: 430px;
    height: 200px;
    border: 1px solid #F4F4F4;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    position: relative;
    padding: 0 10px 10px 0;
    box-sizing: border-box;
    float: left;
    margin: 0 15px 15px 0;
    cursor: pointer;
}

.product-item:nth-child(2n) {
    margin-right: 0;
}

.product-item>img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.product-img {
    width: 130px;
    height: 200px;
    line-height: 210px;
    text-align: center;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
}

.product-descript {
    width: calc(100% - 130px);
    height: 100%;
    position: relative;
}

.product-descript>p:first-child {
    margin: 20px 0 15px !important;
    font-size: 21px;
    color: #222222;
    font-weight: 700;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-descript>p:nth-child(2) {
    font-size: 14px;
    color: #595757;
}

.product-descript button {
    position: absolute;
    bottom: 5px;
    left: 0;
}

.tips {
    margin: 0 0 20px;
    color: #727171;
}

.tips>p:last-child {
    padding-left: 35px;
}

.btn-newproduct {
    width: 160px;
    font-size: 20px !important;
    margin-bottom: 50px !important;
}


/* checkInvoice.html */

.invoice-img {
    width: 440px;
    height: 205px;
}

.invoice-img>img {
    max-width: 100%;
    max-height: 100%;
}

.invoice-information {
    margin-top: 34px;
}

.invoice-information li {
    margin-bottom: 15px;
    color: #595757;
}

.invoice-information li>span {
    display: block;
    float: left;
}

.invoice-information li>div {
    float: left;
    width: calc(100% - 100px);
    font-weight: 600;
}


/* registerNewProduct.html */

.current {
    background-color: #9E9E9E !important;
    color: #fff !important;
}

.current-classify a {
    color: #7F7F7F;
    font-weight: 700;
}

.search-tip {
    color: #595757;
    margin-bottom: 30px !important;
}

.search-group {
    width: 255px;
}

.search-result {
    width: 100%;
    padding: 10px 15px 0;
    box-sizing: border-box;
    border-right: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    border-left: 2px solid #ECECEC;
    border-radius: 4px;
    display: none;
}

.search-result li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ECECEC;
    cursor: pointer;
    color: #808080;
}

.search-result li:last-child {
    border-bottom: 0;
}

.btn-search {
    width: 130px;
    margin-top: 20px;
}

.btn-search>span {
    margin-right: 5px;
}

.product-classify {
    margin-top: 55px;
    margin-bottom: 0 !important;
    padding-bottom: 20px;
}

.product-classify li {
    float: left;
    padding: 10px 20px;
    background-color: #EBEBEB;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    color: #7F7F7F;
}

.classify-pro {
    display: none;
    margin-bottom: 30px !important;
    border-top: 1px solid #E3E3E3;
}

.product-group {
    display: none;
    padding: 10px 0 50px 5px;
}

.selected-product {
    border-bottom: 1px solid #DFDFDF;
}

.pro-des {
    border: 0;
    box-shadow: none;
}

.pro-img {
    border-right: 1px solid #F6F6F6;
}

.product-descript2 {
    padding-left: 15px;
}

.upload-invoice {
    width: 375px;
    height: 177px;
    margin: 25px 0 50px;
    background-image: url(../images/invoice.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.upload-invoice p {
    height: 100%;
    line-height: 177px;
    text-align: center;
    font-size: 30px;
    background-color: #fff;
    opacity: 0.7;
    position: relative;
}

.upload-invoice p span {
    font-size: 30px;
}

.btn-upload,
.btn-check {
    width: 125px;
    margin-bottom: 50px !important;
}

.btn-upload span {
    margin-right: 5px;
}

.upload-invoice img {
    max-width: 100%;
    max-height: 100%;
}

.upload-invoice2 {
    margin-bottom: 10px;
}

.upload-time li {
    margin-top: 15px;
    font-size: 12px;
    color: #595757;
}

.btn-check {
    margin-top: 30px;
}

#file {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#img3 {
    max-width: 375px;
    max-height: 177px;
    display: none;
    margin: 25px 0 30px;
}