.main {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.product-title {
    margin: 44px 0 20px 0 !important;
    font-size: 22px !important;
    font-weight: 700;
}

.input-group input {
    width: 315px !important;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.input-group p {
    color: #858484;
    line-height: 20px;
}

.input-group p>a {
    color: #176490 !important;
}

.bg-circle {
    margin: 5px 0 !important;
    color: #727171;
}

.bg-circle a {
    color: #176490 !important;
    font-weight: 600;
}

.bg-circle i {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: #E60012;
    border-radius: 50%;
}

.code-wrap {
    width: 315px !important;
    height: 50px !important;
    padding-right: 0 !important;
    margin-top: 30px;
}

.code-wrap input {
    width: 185px;
    margin-top: -5px;
    height: 40px;
    border: 0;
    outline: none;
    font-size: 16px;
}

.password-wrap {
    width: 315px !important;
    height: 50px;
    line-height: 50px;
    margin-right: 170px;
    position: relative;
}

.password-wrap span {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 999;
    font-size: 30px;
    color: #878787;
}

.tip {
    margin-top: 5px !important;
    color: #595757;
    font-weight: 500;
}

.btn-submit {
    width: 98px;
    height: 34px;
    margin-top: 35px;
    font-size: 16px !important;
}