		.main {
		    width: 900px;
		    margin: 0 auto;
		    padding-bottom: 128px;
		}
		
		.product-title {
		    margin: 44px 0 20px 0 !important;
		    font-size: 33px !important;
		    font-weight: 700;
		}
		
		#incrementService {
		    padding: 0 50px 50px 0;
		}
		
		.service-item p {
		    color: #7F7F7F;
		}
		
		.service-item p>span:first-child {
		    font-size: 31px;
		}
		
		.service-item div {
		    margin-top: 20px;
		}
		
		.service-item {
		    width: 382px;
		    padding: 15px;
		    margin-bottom: 20px !important;
		    box-sizing: border-box;
		    background-color: #EBEBEB;
		    border-radius: 4px;
		}
		
		.service-item:nth-child(odd) {
		    float: left;
		}
		
		.service-item:nth-child(even) {
		    float: right;
		}
		
		.use-coupon>button {
		    float: left;
		    width: 88px;
		}
		
		.use-coupon>span {
		    display: block;
		    float: right;
		    margin-top: 12px;
		    color: #7F7F7F;
		}
		
		.day-time {
		    float: right !important;
		}
		
		.modal-mask {
		    position: fixed;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    background: rgba(0, 0, 0, 0.5);
		    z-index: 999;
		    display: none;
		}
		
		.modal-wrap {
		    width: 435px;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    -webkit-transform: translate(-50%, -50%);
		    background-color: #fff;
		    padding: 20px;
		    border-radius: 4px;
		}
		
		.modal-title {
		    position: relative;
		}
		
		.modal-title h2 {
		    color: #595757;
		    margin: 0px !important;
		    text-align: center;
		    padding-bottom: 10px;
		}
		
		.modal-title span {
		    position: absolute;
		    top: -16px;
		    right: -7px;
		    font-size: 30px;
		    color: #1F6996;
		    cursor: pointer;
		}
		
		.modal-img {
		    width: 100%;
		    margin-top: 10px;
		}
		
		.modal-img img {
		    width: 100%;
		}
		
		.content>p {
		    padding: 15px 0 10px;
		    color: #9C9C9C;
		    border-bottom: 1px solid #9A9A9A;
		}
		
		.content ul li {
		    height: 35px;
		    line-height: 35px;
		}
		
		.content ul li span {
		    color: #878787;
		}
		
		.content button {
		    display: block;
		    width: 100px;
		    margin: 10px auto 0;
		}