<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../iconfont/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/set-password.css" />
    <link rel="stylesheet" href="../components/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../components/Bootstrap/css/bootstrap-theme.min.css">
    <title>修改登录密码</title>
</head>

<body>
    <header class="header">
        <div class="top-wrap clearfix">
            <div class="top clearfix">
                <div class="logo">
                    <img src="../images/PhilipsLogo.png" alt="">
                </div>
                <div class="way">
                    <span class="btn-login">登录</span>
                    <span class="btn-register">注册</span>
                    <!-- <span class="user">用户名</span> -->
                </div>
            </div>
        </div>
        <div class="nav-list">
            <ul class="nav clearfix">
                <li class="active">
                    <a href="personalData.html">
                        <span class="iconfont icon-user"></span>
                        <span>个人资料</span>
                    </a>
                </li>
                <li>
                    <a href="integralDiscount.html">
                        <span class="iconfont icon-youhui2"></span>
                        <span>积分与优惠</span>
                    </a>
                </li>
                <li>
                    <a href="myProduct.html">
                        <span class=" iconfont icon-dingdan "></span>
                        <span>我的产品</span>
                    </a>
                </li>
                <li>
                    <a href="myDatabase.html ">
                        <span class="iconfont icon-ziliaoku "></span>
                        <span>我的资料库</span>
                    </a>
                </li>
                <li>
                    <a href="myOrder.html ">
                        <span class="iconfont icon-wodedingdan1 "></span>
                        <span>我的订单</span>
                    </a>
                </li>
                <li>
                    <a href="communicationRecord.html ">
                        <span class="iconfont icon-huihua "></span>
                        <span>沟通记录</span>
                    </a>
                </li>
                <li>
                    <a href="value-added-service.html ">
                        <span class="iconfont icon-huangguan1 "></span>
                        <span>增值服务</span>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <span class="iconfont icon-gouwuche "></span>
                        <span>前往商城</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="banner">
            <img src="../images/bg_02.jpg" alt="">
        </div>
    </header>
    <div class="main">
        <h2 class="product-title">修改登录密码</h2>
        <div class="input-group clearfix">
            <div class="pull-left password-wrap">
                <input class="form-control " type="text" placeholder="原登录密码">
                <span class="iconfont icon-xianshimima"></span>
            </div>
            <p class="pull-left">飞利浦尊重您的个人隐私，<br>请阅读<a href="javascript:;">&nbsp;隐私声明&nbsp;</a>了解更多信息</p>
        </div>
        <div class="code-wrap form-control ">
            <input type="text" placeholder="新的登录密码">
        </div>
        <div class="code-wrap form-control ">
            <input type="text" placeholder="再次输入新的密码">
        </div>
        <p class="tip">登录密码不能少于6位，<br>且必须是包含字母和数字的组合</p>
        <!-- <p class="bg-circle"><i></i><span>原登录密码错误，点击<a href="javascript:;">忘记密码</a></span></p> -->
        <button class="btn btn-warning btn-submit">提交</button>
    </div>
    <footer class=" footer ">
        <div class="footer-img ">
            <img src="../images/philips-footer-logo.png " alt=" ">
        </div>
    </footer>
</body>
<script src="../js/jquery-3.2.1.min.js "></script>
<script src="../components/Bootstrap/js/bootstrap.min.js "></script>
<script src="../js/public.js"></script>

</html>