<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../iconfont/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/checkData.css">
    <link rel="stylesheet" href="../components/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../components/Bootstrap/css/bootstrap-theme.min.css">
    <title>查看资料</title>
</head>

<body>
    <header class="header">
        <div class="top-wrap clearfix">
            <div class="top clearfix">
                <div class="logo">
                    <img src="../images/PhilipsLogo.png" alt="">
                </div>
                <div class="way">
                    <!-- <span class="btn-login">登录</span>
                        <span class="btn-register">注册</span> -->
                    <span class="user">用户名</span>
                </div>
            </div>
        </div>
        <div class="nav-list">
            <ul class="nav clearfix">
                <li class="active">
                    <a href="personalData.html">
                        <span class="iconfont icon-user"></span>
                        <span>个人资料</span>
                    </a>
                </li>
                <li>
                    <a href="integralDiscount.html">
                        <span class="iconfont icon-youhui2"></span>
                        <span>积分与优惠</span>
                    </a>
                </li>
                <li>
                    <a href="myProduct.html">
                        <span class=" iconfont icon-dingdan "></span>
                        <span>我的产品</span>
                    </a>
                </li>
                <li>
                    <a href="myDatabase.html ">
                        <span class="iconfont icon-ziliaoku "></span>
                        <span>我的资料库</span>
                    </a>
                </li>
                <li>
                    <a href="myOrder.html ">
                        <span class="iconfont icon-wodedingdan1 "></span>
                        <span>我的订单</span>
                    </a>
                </li>
                <li>
                    <a href="communicationRecord.html ">
                        <span class="iconfont icon-huihua "></span>
                        <span>沟通记录</span>
                    </a>
                </li>
                <li>
                    <a href="value-added-service.html ">
                        <span class="iconfont icon-huangguan1 "></span>
                        <span>增值服务</span>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <span class="iconfont icon-gouwuche "></span>
                        <span>前往商城</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="banner">
            <img src="../images/bg_02.jpg" alt="">
            <div class="bg-hide"></div>
            <div class="user-wrap clearfix">
                <div class="user-img">
                    <img src="../images/user_05.png" alt="">
                </div>
                <div class="user-name">
                    <p>欢迎</p>
                    <p><span>用户名</span><span class="revise-name">修改</span></p>
                </div>
                <div class="user-name current-integral">
                    <p>当前积分</p>
                    <p><span>1000</span><span>查看</span></p>
                </div>
                <div class="user-name coupon">
                    <p>您有2张新的优惠券！</p>
                    <p>查看<span class="iconfont icon-arrow-right-copy-copy-copy"></span></p>
                </div>
            </div>
        </div>
    </header>
    <div class="main clearfix">
        <h2 class="product-title">查看资料</h2>
        <div class="selected-product clearfix">
            <div class="product-item pro-des">
                <div class="product-img pro-img">
                    <img src="../images/product-bingimg_03.jpg" alt="">
                </div>
                <div class="product-descript product-descript2">
                    <p>Shaver series 500 电动剃须刀</p>
                    <p>S512/12</p>
                </div>
            </div>
        </div>
        <ul class="nav nav-pills ">
            <li class="border-bottom" data-id="#general-description"><a href="javascript:;">总体说明</a></li>
            <li data-id="#about-product"><a href="javascript:;">相关产品</a></li>
            <li data-id="#purchase-record"><a href="javascript:;">购买记录</a></li>
        </ul>
        <div class="data-list">
            <div class="list-item" id="general-description">
                <div class="functional-introduction">
                    <h4><span class="iconfont icon-xing"></span>功能介绍</h4>
                    <ul class="clearfix">
                        <li>
                            <div class="img-wrap">
                                <img src="../images/product-img_02_03.png" alt="">
                            </div>
                            <p>根据面部和颈部曲线自行调节剃须角度</p>
                        </li>
                        <li>
                            <div class="img-wrap">
                                <img src="../images/product-img2_03.png" alt=""></div>
                            <p>可旋转设计，精确捕捉更多毛发</p>
                        </li>
                        <li>
                            <div class="img-wrap">
                                <img src="../images/product-img3_03.png" alt=""></div>
                            <p>即使是难以触及的部位也可轻松剃须</p>
                        </li>
                    </ul>
                    <button class="btn btn-primary btn-more">更多功能介绍</button>
                </div>
                <div class="normal-question">
                    <h4><span class="iconfont icon-wenhao-tianchong"></span>常见问题解答</h4>
                    <ul>
                        <li>
                            <a href="javascript:;">飞利浦剃须刀的型号/序列号位于何处？</a>
                        </li>
                        <li>
                            <a href="javascript:;">飞利浦剃须刀的型号/序列号位于何处？</a>
                        </li>
                    </ul>
                </div>
                <div class="user-manua">
                    <h4><span class="iconfont icon-shuqian"></span>用户手册</h4>
                    <ul>
                        <li>
                            <img src="../images/pdf.png" alt="">
                            <p>用户手册</p>
                        </li>
                        <li>
                            <img src="../images/pdf.png" alt="">
                            <p>使用说明</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="list-item clearfix" id="about-product">
                <div class="product-item">
                    <div class="product-img">
                        <img src="../images/product-bingimg_03.jpg" alt="">
                    </div>
                    <div class="product-descript">
                        <p>Shaver series 500 电动剃须刀</p>
                        <p>S512/12</p>
                        <div class="star-group">
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="product-img">
                        <img src="../images/product-bingimg_03.jpg" alt="">
                    </div>
                    <div class="product-descript">
                        <p>Shaver series 500 电动剃须刀</p>
                        <p>S512/12</p>
                        <div class="star-group">
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                            <span class="iconfont icon-star1"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-item" id="purchase-record">
                <div class="invoice-wrapper">
                    <div class="upload-invoice ">
                        <p>
                            <input type="file" id="file" />
                            <span class=" iconfont icon-jia "></span>选择发票
                        </p>
                    </div>
                    <img src="#" id="img3" />
                    <button class=" btn btn-primary btn-upload "><span class=" iconfont icon-shangchuan "></span>确认上传</button>
                </div>
                <div class=" upload-over ">
                    <div class="upload-invoice2 ">
                        <img src="" alt=" ">
                    </div>
                    <ul class=" upload-time ">
                        <li>购买时间：<span>2018-01-01</span></li>
                        <li>上传时间：<span>2018-01-01</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <footer class=" footer ">
        <div class=" footer-img ">
            <img src=" ../images/philips-footer-logo.png " alt=" ">
        </div>
    </footer>
</body>
<script src=" ../js/jquery-3.2.1.min.js "></script>
<script src=" ../components/Bootstrap/js/bootstrap.min.js "></script>
<script src=" ../js/public.js "></script>
<script>
    $(function() {
        $(".nav li").on("click", function() {
            var $id = $(this).data("id");
            $(this).addClass("border-bottom").siblings().removeClass("border-bottom");
            $($id).show().siblings().hide();
        });

        $("#file").change(function(e) {
            e.preventDefault();
            changepic();
        });
        // 上传发票
        $(".btn-upload").on("click", function() {
            var src = $("#img3").attr("src");
            $(this).parent().hide();
            $(".upload-over").show();
            $(".upload-over img").attr("src", src);

        })
    });
    // 上传发票预览
    function changepic() {
        $(" .upload-invoice ").css("display", "none");
        var reads = new FileReader();
        f = document.getElementById('file').files[0];
        reads.readAsDataURL(f);
        reads.onload = function(e) {
            $("#img3").attr("src", this.result);
            $(" #img3 ").css("display", "block");
        };
    }
</script>


</html>