<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../iconfont/iconfont.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/personalData.css">
    <link rel="stylesheet" href="../components/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../components/Bootstrap/css/bootstrap-theme.min.css">
    <title>个人资料</title>
</head>

<body>
    <header class="header">
        <div class="top-wrap clearfix">
            <div class="top clearfix">
                <div class="logo">
                    <img src="../images/PhilipsLogo.png" alt="">
                </div>
                <div class="way">
                    <!-- <span class="btn-login">登录</span>
                    <span class="btn-register">注册</span> -->
                    <span class="user">用户名</span>
                </div>
            </div>
        </div>
        <div class="nav-list">
            <ul class="nav clearfix">
                <li class="active">
                    <a href="personalData.html">
                        <span class="iconfont icon-user"></span>
                        <span>个人资料</span>
                    </a>
                </li>
                <li>
                    <a href="integralDiscount.html">
                        <span class="iconfont icon-youhui2"></span>
                        <span>积分与优惠</span>
                    </a>
                </li>
                <li>
                    <a href="myProduct.html">
                        <span class=" iconfont icon-dingdan "></span>
                        <span>我的产品</span>
                    </a>
                </li>
                <li>
                    <a href="myDatabase.html ">
                        <span class="iconfont icon-ziliaoku "></span>
                        <span>我的资料库</span>
                    </a>
                </li>
                <li>
                    <a href="myOrder.html ">
                        <span class="iconfont icon-wodedingdan1 "></span>
                        <span>我的订单</span>
                    </a>
                </li>
                <li>
                    <a href="communicationRecord.html ">
                        <span class="iconfont icon-huihua "></span>
                        <span>沟通记录</span>
                    </a>
                </li>
                <li>
                    <a href="value-added-service.html ">
                        <span class="iconfont icon-huangguan1 "></span>
                        <span>增值服务</span>
                    </a>
                </li>
                <li>
                    <a href="# ">
                        <span class="iconfont icon-gouwuche "></span>
                        <span>前往商城</span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="banner">
            <img src="../images/bg_02.jpg" alt="">
            <div class="bg-hide"></div>
            <div class="user-wrap clearfix">
                <div class="user-img">
                    <img src="../images/user_05.png" alt="">
                </div>
                <div class="user-name">
                    <p>欢迎</p>
                    <p><span>用户名</span><span class="revise-name">修改</span></p>
                </div>
                <div class="user-name current-integral">
                    <p>当前积分</p>
                    <p><span>1000</span><span>查看</span></p>
                </div>
                <div class="user-name coupon">
                    <p>您有2张新的优惠券！</p>
                    <p>查看<span class="iconfont icon-arrow-right-copy-copy-copy"></span></p>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="personal-data">
            <h2>个人资料</h2>
            <div class="row personal-wrap">
                <div class="col-md-6">
                    <h4>基本资料</h4>
                    <div>飞利浦尊重您的个人隐私,<br />请阅读<a href="#">隐私声明</a>了解更多信息。</div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputname" class="col-md-3 control-label">姓名</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="inputname" placeholder="名字">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-md-3 control-label">邮箱</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="电子邮箱地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">出生日期</label>
                                <div class="col-md-3 select-list">
                                    <select class="form-control">
                                        <option>年</option>
                                        <option>2018</option>
                                        <option>2017</option>
                                        <option>2016</option>
                                    </select>
                                    <span class="iconfont icon-down-trangle"></span>
                                </div>
                                <div class="col-md-3 select-list">
                                    <select class="form-control">
                                        <option>月</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <span class="iconfont icon-down-trangle"></span>
                                </div>
                                <div class="col-md-3 select-list">
                                    <select class="form-control">
                                        <option>日</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <span class="iconfont icon-down-trangle"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="educationalLevel" class="col-md-3 control-label">教育程度</label>
                                <div class="col-md-9 select-list">
                                    <select class="form-control" id="educationalLevel">
                                        <option>大专</option>
                                        <option>本科</option>
                                        <option>硕士</option>
                                        <option>博士</option>
                                    </select>
                                    <span class="iconfont icon-down-trangle"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">称谓</label>
                                <div class="col-md-9 sex">
                                    <label class="col-md-4">
                                        <input type="radio" name="name" class="form-control">
                                        <span>先生</span>
                                    </label>
                                    <label class="col-md-4">
                                        <input type="radio" name="name" class="form-control">
                                        <span>女士</span>
                                    </label>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h4>家庭状况</h4>
                    <form class="form-horizontal home-situation">
                        <div class="form-group">
                            <label class="col-md-4 control-label">婚姻状况</label>
                            <div class="col-md-8  select-list">
                                <select class="form-control">
                                    <option>未婚</option>
                                    <option>已婚</option>
                                </select>
                                <span class="iconfont icon-down-trangle"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">子女状况</label>
                            <div class="col-md-8 select-list">
                                <select class="form-control ">
                                    <option>有子女</option>
                                    <option>无子女</option>
                                </select>
                                <span class="iconfont icon-down-trangle"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">居住状况</label>
                            <div class="col-md-8 select-list">
                                <select class="form-control">
                                    <option>独居</option>
                                    <option>合租</option>
                                </select>
                                <span class="iconfont icon-down-trangle"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <h4 class="title">兴趣爱好</h4>
                    <div class="wrapper">
                        <h4>个人兴趣<small>(可多选)</small></h4>
                        <div class="checkbox_wrapper clearfix">
                            <label class="col-md-4">
                                <input type="checkbox"><span>旅游</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>摄影</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>音乐</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>宠物</span>
                            </label>
                        </div>
                    </div>
                    <div class="wrapper">
                        <h4>对飞利浦那些产品感兴趣<small>(可多选)</small></h4>
                        <div class="checkbox_wrapper clearfix">
                            <label class="col-md-4">
                                <input type="checkbox"><span>男生理容</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>女士美发</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>咖啡</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>肌肤护理</span>
                            </label>
                        </div>
                    </div>
                    <div class="wrapper">
                        <h4>对哪些类型的信息感兴趣<small>(可多选)</small></h4>
                        <div class="checkbox_wrapper clearfix">
                            <label class="col-md-4">
                                <input type="checkbox"><span>新产品资讯</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>促销与优惠</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>咖啡</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>肌肤护理</span>
                            </label>
                        </div>
                    </div>
                    <div class="wrapper">
                        <h4>对哪些类型的信息感兴趣<small>(可多选)</small></h4>
                        <div class="checkbox_wrapper clearfix">
                            <label class="col-md-4">
                                <input type="checkbox"><span>电子邮件</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>手机短信(文字)</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>手机短信(彩信)</span>
                            </label>
                            <label class="col-md-4">
                                <input type="checkbox"><span>微信</span>
                            </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-submit">提交</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-img">
            <img src="../images/philips-footer-logo.png" alt="">
        </div>
    </footer>
</body>
<script src=" ../js/jquery-3.2.1.min.js "></script>
<script src=" ../components/Bootstrap/js/bootstrap.min.js "></script>
<script src="../js/public.js"></script>

</html>